@media screen and (max-width: 1000px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media only screen and (min-width: 750px) {
    .top-nav ul li {
        display:inline-block;
        width: 18%;

    }

    .top-nav ul{
    	text-align: center;
    	    }

    .photo-grid {
  		/*display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;*/
  		color: #444;
}
.photo-cell{
	width: 85%;
	margin: 0 auto;
}


/*	.a{
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start:1;
		grid-column-end:5;
	}
	.b{
		grid-column-start:1;
		grid-column-end:5;

	}

	.c {
	grid-column-start:1;
    grid-column-end: 5;
	}

	.d{
	grid-column-start:1;
    grid-column-end: 5;
	}

	.e{
		grid-column-start:1;
		grid-column-end:5;
	}

	.f{
		grid-column-start:1;
		grid-column-end:5;
	}

	.g{
		grid-column-start:1;
		grid-column-end:5;
	}

	.h{
		grid-column-start:1;
		grid-column-end:5;
	}

	.i{
		grid-column-start:1;
		grid-column-end:5;
	}

	.j{	
		grid-column-start:1;
		grid-column-end:5;
	}

	.k{
		grid-column-start:1;
		grid-column-end:5;
	}

	.l{
		grid-column-start:1;
		grid-column-end:5;
	}*/
/*  	.timeline ul li div {
    	width: 250px;
  	}
  	.timeline ul li:nth-child(even) div {
    	left: -289px; /*250+45-6*/


}

@media only screen and (min-width: 1000px) {
    .top-nav ul li {
        display:inline-block;
        width: 15%;
        border-top: hidden;
    }

    .logo {
    	float: left;
    }

    .top-nav ul{
    	text-align: right;
    	    }

    .photo-grid {
  		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
  		color: #444;
}
	.a{
		grid-column-start:1;
		grid-column-end:3;
		grid-row-start: 1;
		grid-row-end: 2;
		
	}
	.b{
		grid-column-start:3;
		grid-column-end:5;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.c {
	grid-column-start:1;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
	}

	.d{
	grid-column-start:3;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end:3;
	}

	.e{
		grid-column-start:1;
		grid-column-end:3;
		grid-row-start:3;
		grid-row-end:4;
	}

	.f{
		grid-column-start:1;
		grid-column-end:3;
		grid-row-start: 4;
		grid-row-end:5;
	}

	.g{
		grid-column-start:3;
		grid-column-end:5;
		grid-row-start:3;
		grid-row-end:4;
	}

	.h{
		grid-column-start:3;
		grid-column-end:5;
		grid-row-start:4;
		grid-row-end:5;
	}

	.i{
		grid-column-start:1;
		grid-column-end:3;
		grid-row-start:5;
		grid-row-end:6;
	}

	.j{
		grid-column-start:3;
		grid-column-end:5;
		grid-row-start:5;
		grid-row-end:6;
	}

	.k{
		grid-column-start:1;
		grid-column-end:3;
		grid-row-start:6;
		grid-row-end:7;
	}

	.l{
		grid-column-start:3;
		grid-column-end:5;
		grid-row-start:6;
		grid-row-end:7;
	}

	.container {
    width: 95%;
    align-self:center;
	}
.photo-cell img{
	box-shadow: none;
}
/* resize images */
.container img {
    width: 100%;
    height: auto;
	}

}

@media screen and (max-width: 650px) {
  .timeline ul li {
    margin-left: 20px;
  }
   
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }

  .timeline(
  	z-index: 0;)
}