
/*-----MAIN-----*/
html {
  box-sizing: border-box;
}
html, body{
	height: 100%;
}
/*skip content*/
.skip{
	position: absolute;
	left: -999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
	color: #E3AD02;
}
a.skip:active, a.skip:focus, a.skip:hover {
    position:fixed;
    top: auto;
    left: auto; 
	width: auto; 
	height: auto; 
	overflow: visible;
	z-index: 999;
}
html, body, header, footer{
    background-color: #456990;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
header, footer, .logo {
	background-color: #211D24;
	color: #DDDDDA; 
}
body{
	display: flex;
	flex-direction: column;

}



.landing {

        background-color: #211D24;
        background-image: url("../imgs/4lbs6.4oz.jpg");
  
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Corben', Georgia, Times, serif; 
}
p{
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
h1{ 
	font-size: 1.75em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.17em;
}
h4{
	font-size: 1.12em;
}
h5{
	font-size: .83em;
}
h6{
	font-size: .75em;
}
.main-content{
	flex: 1 0 auto;
	margin-top: 110px;
}
.about, .work, .crafts, .contact{
	margin: auto;
	padding-right: 3%;
	padding-left: 3%;
}

    #bio{
    	margin:10em 1em 0 1em;
    }
/*-----HEADER & NAVIGATION-----*/
header{
	font-family: 'Quicksand', sans-serif;
	font-size: 105%;
    box-shadow: 0px 18px 26px 1px rgba(141, 141, 139, .75);
    width: 100%;
    position: fixed;
    z-index: 1;
}
/*mobile-first*/


/*Needed*/
.top-nav ul li, .menu-icon{
	border-top: 1px solid yellow ; 
}

.top-nav ul li a{
	font-size: 1em;
	color: white; 
	text-decoration: none;
	padding: .25em 1em;
	display: block;
	text-align: left;

}


.top-nav ul li a.current-page{
	color: yellow;
	font-weight: bold;
}
.top-nav ul li a.current-page:before {
  content: "\27A4";
  color: yellow;
  padding-right: 4px;
  position: relative;
  top: 1px;
}
/*.top-nav a:hover, .menu-icon a:hover, .top-nav ul li a:focus, .menu-icon a:focus{
    background-color: #211D24;
    color: yellow;
    font-weight: bold;
}*/
.top-nav ul li a:hover:before, .top-nav ul li a:focus:before{
    content: "\27A4  ";
  	color: yellow;
  	padding-right: 4px;
  	position: relative;
  	top: 1px;
}
/*implement menu toogle
.top-nav.toggle-open ul{
	display: block;
}

#top-nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc; }

	#top-nav li a:hover {
		color: yellow;
		background-color: #069; }*/




.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #333;
  color: yellow;
}

.active {
  background-color: #069;
  color: #069;
}

.topnav .icon {
  display: none;
}

/*-----LOGO-----*/
.logo{
	background-color: #069; 
	margin: 0;
	text-align: center;
	padding: .25em .75em;
}
.logo img{
	height: 3em;
}

/*-----FOOTER-----*/
footer{
	/*color: #F54320;*/
	font-size: .85em;
	text-align: center;
	box-shadow: 0px -10px 30px 2px rgba(141, 141, 139, .75);
}
footer p{
	padding-top: .5em;
	padding-bottom: .75em;
}

.icon{
	padding: .5em .25em 0;
	height: 45px;
}


/*-----IMAGES PAGE ------*/
.main-content-crafts{
	margin-top: 250px;
}
/*photo gallery*/
.crafts{
	display: block;
	margin: auto;
	max-width: 1200px;
}
.photo-cell{
	margin-bottom: 2%;
	margin-left: 2%;
}
.photo-cell img {
	width: 98%;
  	display: block;
  	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
  	padding: 2%;
}

.photo-cell_new{
	margin-bottom: 2%;
	margin-left: 2%;
}
.photo-cell_new img {
	width: 98%;
  	
  	box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}  


#home-content p{
	font:60px;
	/*visibility: hidden;*/
}

.aboutimg {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*Added in for timeline*/
/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: yellow;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 0px;
  margin: 0 auto;
  padding-top: 50px;
  background: yellow;
  color:yellow;

}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #069;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #069 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #069;
}


.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}